body{
  background:#568;
  font-family:'Open Sans',sans-serif;
}

/*-----------------------*/
/*        header         */
/*-----------------------*/

#header {
  width:90%;
  height: 0px

}
#utilContainer {
  position: absolute;
  right:20px;
  top:5px;
  padding-top: 5px;
  padding-right: 20px;
}
div#search input#s{
  width: 30px; 
  padding:5px 7px 5px 3px;
  font-size: 8px
}

.logo {
  position: absolute;
  left:20px;
  top:5px;

}
/*----------------------*/
/*       footer         */
/*----------------------*/
div#footer {
  background-color: #777;
  clear: both; 
  padding: 5px 15px 5px;
  margin-bottom: 10px;
}
#contact-us { margin: 0 0 15px 15px; line-height: 1.4; }

#copyright { 
  margin-left: auto;
  margin-right: auto;
  clear: both; 
  text-align: center;
  padding: 5px 15px; 
}


/*-------------------------*/
/*       tabbed box        */
/*-------------------------*/

#tabbed_box_1 {
	margin: 0px auto 0px auto;
	width:50%;
	height: 500px;
	float: left;
	margin-top: 130px;
	margin-left: 5px;

}
#tabbed_box_2 {
	margin: 0px auto 0px auto;
	width:50%;
	height: 450px;
	float: right;
	margin-top: 10px;
	margin-left: 5px;

}


.tabbed_area {
	border:1px solid #494e52;
	background-color:#636d76;
	padding:8px;


}

ul.tabs {
	margin:0px; padding:0px;
	margin-top:5px;
	margin-bottom:6px;
}
ul.tabs li {
	list-style:none;
	display:inline;
}
ul.tabs li a {
	background-color:#464c54;
	color:#ffebb5;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #464c54;
	background-image:url(images/tab_off.jpg);
	background-repeat:repeat-x;	 
	background-position:bottom;
}
ul.tabs li a:hover {
	background-color:#2f343a;
	border-color:#2f343a;
}
ul.tabs li a.active {
	background-color:#ffffff;
	color:#282e32;
	border:1px solid #464c54; 
	border-bottom: 1px solid #ffffff;
	background-image:url(images/tab_on.jpg);
	background-repeat:repeat-x;
	background-position:top;	
}
.content {
	background-color:#ffffff;
	padding:10px;
	border:1px solid #464c54; 	
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(images/content_bottom.jpg);
	background-repeat:repeat-x;	 
	background-position:bottom;	
	height: 530px;
	overflow: scroll;
	

}
#content_2, #content_3, #content_4, #content_5{ display:none; }

.content ul {
	margin:0px;
	padding:0px 20px 0px 20px;
}
.content ul li {
	list-style:none;
	border-bottom:1px solid #d6dde0;
	padding-top:15px;
	padding-bottom:15px;
	font-size:13px;
}
.content ul li:last-child {
	border-bottom:none;
}
.content ul li a {
	text-decoration:none;
	color:#3e4346;
}
.content ul li a small {
	color:#8b959c;
	font-size:9px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	left:4px;
	top:0px;
}
.content ul li a:hover {
	color:#a59c83;
}
.content ul li a:hover small {
	color:#baae8e;
}

/*---------------------------*/
/*           sidebar         */
/*---------------------------*/


.regised_conference {
	border-style: solid;
	width:45% ;
	height: 290px;
	margin-top:130px;
	margin-right: 5px;
	float:right;
 
}
.new_added_confercence {
	border-style: solid;
	width: 44%;
	height:290px;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}



.new_added_confercence, .regised_conference p {
  padding-left: 10px;
}

.sidebar {

	border:1px solid #494e52;
	width:22%;
	float: left;
	margin-top: 130px;
	display:inline-block;
	border-style: 10px;
	height: 590;
	padding-right: 5px;
	padding-left: 5px;
}

.user_info {
	border:1px solid #494e52;
	width:22%;
  	float: right;
	margin-top: 130px;
  	display:inline-block;
	height: 590px;



}


/*---------------------------*/
/*        login_page         */
/*---------------------------*/



.button{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}


.button:hover{
  background:#2255bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}


#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

#login form{

  background:#f0f0f0;
  padding:6% 4%;
  top: 100%;
  bottom: 30%;
}
#login input[type="email"]{
  width:98%;
  height:35px;
}
#login input[type="password"]{
  width:98%;
  height:35px;
}

#login input[type="submit"], #login a{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#login input[type="submit"]:hover{
  background:#2255bb;
}
#login a{
	text-decoration: none;
	padding-left:33%;
	padding-right:33%;
	
}
#login a:hover{
	background: #2255bb;
	text-decoration: none;
}


/*----------------------------------*/
/*        registration_page         */
/*----------------------------------*/


div#registration .button{
  width:100%;
  background:#444;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}



div#registration form{
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  background:#f0f0f0;
  padding:6% 4%;
  top: 100%;
  bottom: 30%;
}
f


input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2255bb;
}


.download {
	height: 20px;
	width: 30px;
	background-color: #aa443c;
}
.download:hover {
	background-color: #1a443c;
}

.floatright {
	float:right;
}

