body{
  background:#568;
  font-family:'Open Sans',sans-serif;
}


/*-----------------------*/
/*        header         */
/*-----------------------*/

#header {
  width:90%;
  height: 0px

}
#utilContainer {
  position: absolute;
  right:20px;
  top:5px;
  padding-top: 5px;
  padding-right: 20px;
}
div#search input#s{
  width: 30px; 
  padding:5px 7px 5px 3px;
  font-size: 8px
}

.logo {
  position: absolute;
  left:20px;
  top:5px;

}
/*----------------------*/
/*       footer         */
/*----------------------*/
div#footer {
  background-color: #777;
  clear: both; 
  padding: 5px 15px 5px;
  margin-bottom: 10px;
}
#contact-us { margin: 0 0 15px 15px; line-height: 1.4; }

#copyright { 
  margin-left: auto;
  margin-right: auto;
  clear: both; 
  text-align: center;
  padding: 5px 15px; 
}


/*---------------------------*/
/*           sidebar         */
/*---------------------------*/
.conference_bar{
  margin-top: 30px;
  width: 45%;
  float: right;
  height:550px;

}


.regised_conference {
  border-style: solid;
  width: 50%;
  height:100px;
  margin-top: 0px;
  margin-right: 0px;
}

.new_added_confercence {
  border-style: solid;
  width:45% ;
  height: 100px;
  margin-top:400px;
  margin-right: 0px;
  float:right;
 
}

.new_added_confercence, .regised_conference p {
  padding-left: 10px;
}

.sidebar {
width:25%;
float: left;

display:inline-block;
border-style: 10px;
height: 500px;
border-style: solid;
}


.container {
  margin-top:100px;
}

.regised_conference {
  width:45%;
  float: right;
  border-style:1px solid;
  height: 400px;

}

/*---------------------------*/
/*           Tabs            */
/*---------------------------*/

.tabs {
width:50%;
margin-left:10px;
margin-right:10px;
display:inline-block;
border-style: solid;
height: 500px;
position: absolute;
}

#tab_button {
  margin-top: 10px;
  height:40px;
}
#tab_button button {
  font-family:'Open Sans',sans-serif;
  font-size:12pt;
  background-color: #3399cc;
  border-radius: 10px;
  border-color:#3FDAC5;
  padding:5px 10px 5px 10px;
}
#tab_button button:hover {
  background-color: #2255bb;
  border-radius: 10px;
  border-color:#1D9686;
  padding:7px 10px 7px 10px;
}



/*---------------------------*/
/*          Tab Links        */
/*---------------------------*/


.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
  background:#fff;
  color:#4c4c4c;
}

/*---------------------------*/
/*      Content of Tabs      */
/*---------------------------*/

.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;


}
/*--------------------------*/
/*      user-info-bar       */
/*--------------------------*/

.user_info {
  width:20%;
  float: right;

  display:inline-block;
  border-style: solid;
  height: 500px;
  border-style: solid;


}


/*---------------------------*/
/*        login_page         */
/*---------------------------*/



.button{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}


.button:hover{
  background:#2255bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}


#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{

  background:#f0f0f0;
  padding:6% 4%;
  top: 100%;
  bottom: 30%;
}
input[type="email"]{
  width:98%;
  height:35px;
}
input[type="password"]{
  width:98%;
  height:35px;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}


/*----------------------------------*/
/*        registration_page         */
/*----------------------------------*/


div#registration .button{
  width:100%;
  background:#444;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}



div#registration form{
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  background:#f0f0f0;
  padding:6% 4%;
  top: 100%;
  bottom: 30%;
}
f


input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2255bb;
}


